body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

header {
    background-color: #929090;
    padding: 10px;
}
 .block-center {
    text-align: center;
   
}
.section {
    width: 1200px;
}

 