body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    margin-right: 100px; /* Відступ між кожним словом */
}

.header-text a {
    color: #fff;
    text-decoration: none;
}