header {
    background-color: #929090;
    padding: 10px;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url("C:\Users\user\Downloads\Lato-Light.ttf");
}
a {
    font-family:'Lato', sans-serif ;
}
.section {
    display: flex;
    width: 1200px;
   
    flex-direction: row;
    
}
.portfolio {
    background-color: white;
}

.fortnite {
   display: flex;
    order: 1;
}

.gearofwar {
    display: flex;
    order: 2;
}
 .infinityblade {
    display: flex;
    order: 3;
 }
 .shadow_complex {
    order: 4;
    display: flex;
 }

 .card-1 {

 }

 .section {

 }
 h2 {
    display: flex;
    flex-direction: column;
 }